body {
  background: url('@assets/backgrounds/main-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.desktop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  grid-auto-rows: 75px;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden;
  column-gap: 26px;
  justify-content: start;
  align-content: space-evenly;
}

.home-bar {
  width: 410px;
  height: 475px;
  position: absolute;
  z-index: 1;
  display: flex;
  align-self: center;
}